@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  font-family: "Montserrat", sans-serif;
}

#tentang {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  p {
    padding-right: 0.3em;
  }
}

@media (max-width: 768px) {
  #tentang {
    width: 90%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    h1 {
      font-size: 16px;
    }
    p {
      font-size: 14px !important;
      text-align: left;
      word-wrap: break-word;
    }
  }
}

@media (max-width: 500px) {
  #tentang {
    p {
      text-align: center;
    }
  }
}
